* {
  box-sizing: border-box;
}
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background: #430099;
}

.title {
  color: #fff;
  font-size: 42px;
}

.card {
  height: 30rem;
  width: min(100% - 1rem, 32em);
  padding: 32px;
  background-color: #fff;
  border-radius: 40px;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-title {
    font-size: 20px;
    margin-bottom: 15px;
  }
}

.time-tab {
  background-color: #f5f6fa;
  padding: 12px 20px;
  border-radius: 40px;
  display: block;
  margin: 25px 0;
  position: relative;
  max-width: calc(100% - 10px);

  ul {
    overflow-x: auto;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    color: #373b47;
    font-weight: 400;
    scroll-behavior: auto;

    li {
      margin-right: 12px;
      padding: 8px 16px;
      border-radius: 30px;
      white-space: nowrap;
      font-size: 12px;
      cursor: pointer;
    }
  }
}

.active {
  background-color: #fff;
  color: #003eff;
}

.legend-wrapper {
  margin-top: 2rem;
  display: inline-flex;
  flex-wrap: wrap;
  gap: 18px;

  .legend-item {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
  }

  .legend-text {
    color: #938fa3;
  }

  .legend {
    width: 27px;
    height: 10px;
    border-radius: 40px;
    background-color: red;
  }
}
